VITE_GOOGLE_SHEETS_API_KEY=your_api_key_here
VITE_SPREADSHEET_ID=your_spreadsheet_id_here
VITE_N8N_REPLY_WEBHOOK=your_n8n_whatsapp_reply_webhook_url_here
VITE_N8N_EMAIL_REPLY_WEBHOOK=your_n8n_email_reply_webhook_url_here
VITE_N8N_SAVE_CASE_WEBHOOK=your_n8n_save_case_webhook_url_here
